<nav class= "be-blue white">
	<%if user_signed_in? %>
			<h1>Bienvenido <%= current_user.nombre %> !</h1>
  			<li><%= link_to "Editar", edit_user_registration_path %></li>
  			<li><%= link_to "Subastas", subastas_path %></li>
  			<li><%=link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></li>
	<% end %>
</nav>

