<% if current_user.try(:admin?) %>
<div class="container">
  <!-- Content here -->
<div class="p-3 mb-2 bg-success text-white">
<h1>Edit home
</h1>
</div>
  <%= render "form" %>
</div>
<% else %>
 Debes acceder como administrador para acceder a esta pagina web.
 <%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
 <% end %>
