<header>
 </header>
<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">


          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "logo.png" %>
            Critter
          <% end %>
        </div>
      </div>
    </div>
  </header>
